<h1>Just this cat</h1>

<table>
    <thead>
        <th colspan="3"> <%= "#{@cat.name}" %> </th>
    </thead>
    <tbody>
        <tr>
            <td>Color_</td>
            <td> __Sex__  </td>
            <td>_Birthday</td>
        </tr>
        <tr>
            <td><%= "#{@cat.color}" %></td>
            <td><%= "#{@cat.sex}" %></td>
            <td><%= "#{@cat.birth_date}" %></td>
        </tr>
    </tbody>
</table>

<a href="<%= edit_cat_url(@cat) %>">Edit cat</a>
<form action="<%= cat_url(@cat) %>" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete cat">
</form>
